@import '../../../../../../assets/scss/abstracts/abstracts';

.broadcast-details-container {
    .broadcast-details {
        padding: 4rem 6rem;

        h2 {
            color: $black-color-2;
            font-weight: bold;
            font-size: 2.6rem;
            margin-bottom: 3rem;
        }

        label {
            color: $primary-color;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
}
