//
// Color Variables
//
$font-family: 'Muli', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;

$white-color: #ffffff;
$black-color: #000000;
$black-color-2: #1d2c3c;
$black-color-3: #474747;
$black-color-4: #303030;

$primary-color: #203061;
$primary-color-2: rgba(#203061, 0.2);

$primary-color-light: #f5f7ff;

$grey-color-1: #f8f8f8;
$grey-color-2: #9b9b9b;
$grey-color-3: #f4f5f7;
$grey-color-4: #77808a;
$grey-color-5: #e0e2eb;
$grey-color-6: #edf1f7;
$grey-color-7: #ececec;
$grey-color-8: #707070;
$grey-color-9: #cccccc;
$grey-color-10: #f4f5f6;
$grey-color-11: #576b79;
$grey-color-12: #585e6b;
$grey-color-13: #1d2c3c;
$grey-color-14: #2a303f;
$grey-color-15: #d4d4d4;
$grey-color-16: #505050;
$grey-color-17: #808080;
$grey-color-18: #424650;

$light-gray-color-1: #f7f8f9;
$light-gray-color-2: #f2f5f6;
$light-gray-color-3: #f7f7f7;

$dark-grey-color: #8f8f8f;

$orange-color: #f2b255;

$blue-color: #004e81;
$blue-color-1: #2b374f;
$light-blue-color: #4d5981;
$green-color: #2abc78;
$red-color: #ff0000;
$reddish-color: #ff385c;
$reddish-orange-color: #f15e55;
$sky-color: #44c8bb;
$sky-color-1: #4cc1b7;
$sky-color-2: #e8f8f7;
$pink-color: #fdf7ea;
$sky-color-3: #f2db94;

$light-pink-color: #ffc5c1;

$green-color-5: #8cc178;
$yellow-color: #f3b355;

$small-sidebar-width: 8rem;
$large-sidebar-width: 32rem;

$header-height: 7.8rem;

$placeholder-color: rgba(#203061, 0.4);
