@import '../../../../../../../assets/scss/abstracts/abstracts';

.form-control {
    position: relative;

    mat-icon {
        @include square(2rem);
        position: relative;
        bottom: 0.2rem;
        right: 0;
        @include respond('phone') {
            right: 0.5rem;
        }
    }
}

.auth-container {
    h3 {
        margin-bottom: 1rem;
    }
}

.edusense-logo{
    display: none;
  
    @include respond("phone"){
        display: block;
    }
}
