<div class="auth-container reset-password-container">
  <a class="edusense-logo" id="lnkHomePage" (click)="onHomePageUrl()">
    <mat-icon svgIcon="logo_edu"></mat-icon>
  </a>

    <div class="auth-box">
      <div class="auth-box__data">
        <div>
          <h3>Reset Password</h3>
          <p>Let's reset your password for account protection</p>
        </div>
  
        <form [formGroup]="studentResetPasswordForm" (ngSubmit)="onStudentResetPasswordFormSubmit(studentResetPasswordForm)">
          <div class="form-control">
            <mat-label>Password*</mat-label>
            <mat-form-field appearance="outline">
              <input required formControlName="newPassword" id="txtNewPassword" type="password" autocomplete="off" matInput
                placeholder="Enter new password" [type]="newPassword? 'password': 'text'" />
  
              <button  mat-icon-button matSuffix id="btnShowHideNewPassword" (click)="newPassword = !newPassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="newPassword">
                <mat-icon *ngIf="!newPassword" svgIcon="hidepassword"></mat-icon>
                <mat-icon *ngIf="newPassword" svgIcon="eye"></mat-icon>
              </button>
              <mat-error *ngIf="isRequiredField(formControls['newPassword'])">
                {{validationMsg.NEW_PASSWORD}}
              </mat-error>
              <mat-error *ngIf="isValidLength(formControls['newPassword'])">
                {{validationMsg.NEW_PASSWORD_LENGTH}}
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-control">
            <mat-label>Confirm Password*</mat-label>
            <mat-form-field appearance="outline">
              <input required formControlName="confirmPassword" id="txtConfirmPassword" type="password" autocomplete="off" matInput
                placeholder="Enter Confirm password" [type]="confirmPassword? 'password': 'text'" />
  
              <button mat-icon-button type="button"  id="btnShowHideConfirmPassword" matSuffix (click)="confirmPassword = !confirmPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPassword">
                <mat-icon *ngIf="!confirmPassword" svgIcon="hidepassword"></mat-icon>
                <mat-icon *ngIf="confirmPassword" svgIcon="eye"></mat-icon>
              </button>
              <mat-error *ngIf="isRequiredField(formControls['confirmPassword'])">
                {{validationMsg.CONFIRM_PASSWORD}}
              </mat-error>
              <mat-error *ngIf="studentResetPasswordForm.errors?.doesMatchPassword">
                {{validationMsg.PASSWORD_DOESNT_MATCH}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button class="auth-green-button" id="btnSubmit" type="submit" mat-flat-button color="primary">
              Submit
            </button>
            <button (click)="onCancel()" id="btnBack" class="ML-2" type="button" mat-flat-button color="accent">
              Back
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
