@import '../../../../../../../assets/scss/abstracts/abstracts';
.selection-dropdown {
    padding: 0 2rem;
    @include respond('phone') {
        max-width: 100% !important;
    }
    @include respond('iphone') {
        padding: 0;
    }
}
.selection-body {
    padding: 0 3rem;
    @include respond('tab-port') {
        padding: 0 1rem;
    }
    @include respond('phone') {
        padding: 0 2.5rem;
    }
    @include respond('iphone') {
        padding: 0;
    }
    .subject-wrap {
        margin-right: 4rem !important;
        @include respond('tab-port') {
            margin-right: 3rem !important;
        }
        &:nth-child(even) {
            @include respond('phone') {
                margin-right: 0 !important;
            }
        }
        h6 {
            max-width: 17rem;
            @include respond('tab-port') {
                max-width: 12rem;
            }
            @include respond('phone') {
                max-width: 11rem;
            }
        }
    }
    .grade-wrapper {
        &.subject-wrapper {
            display: flex !important;
        }
        .grades {
            &.subjects {
                @include respond('tab-port') {
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
}

.back-header {
    // margin-bottom: 0;
    @include respond('phone') {
        margin: 1rem 0;
    }
    @include respond('iphone') {
        padding: 0;
    }

    h2{
        margin-bottom: 0;
    }
}
