<div class="meeting-dialog-wrapper change-password-wrap">
    <div class="meeting-dialog__head">
        <h3>Change Password</h3>
        <a (click)="onCancel()" id="lnkClose">
            <mat-icon svgIcon="close"></mat-icon>
        </a>
    </div>
    <div class="meeting-dialog__bottom xs-P-2">
        <div class="auth-container">
            <div class="auth-box">
                <div class="auth-box__data">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword(changePasswordForm)">
                        <div class="form-control">
                            <mat-label>Old Password*</mat-label>
                            <mat-form-field appearance="outline">
                                <input type="password" required formControlName="currentPassword" autocomplete="off" matInput
                                    placeholder="Enter your password" [type]="oldPassword? 'password': 'text'" />

                                <a class="eye-icon" type="button" matSuffix id="lnkShowHidePassword-1"
                                    (click)="oldPassword = !oldPassword" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="oldPassword">
                                    <mat-icon *ngIf="oldPassword" svgIcon="hidepassword"></mat-icon>
                                    <mat-icon *ngIf="!oldPassword" svgIcon="eye"></mat-icon>
                                </a>
                                <mat-error *ngIf="isRequiredField(formControls['currentPassword'])">
                                    {{validationMsg.PASSWORD}}
                                </mat-error>
                                <mat-error *ngIf="isValidLength(formControls['currentPassword'])">
                                    {{validationMsg.PASSWORD_LENGTH}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-control">
                            <mat-label>New Password*</mat-label>
                            <mat-form-field appearance="outline">
                                <input required formControlName="newPassword" id="txtNewPassword" type="password" autocomplete="off"
                                    matInput placeholder="Enter new password"
                                    [type]="newPassword? 'password': 'text'" />

                                <a class="eye-icon" type="button" matSuffix (click)="newPassword = !newPassword"  id="lnkShowHidePassword-3"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPassword">
                                    <mat-icon *ngIf="newPassword" svgIcon="hidepassword"></mat-icon>
                                    <mat-icon *ngIf="!newPassword" svgIcon="eye"></mat-icon>
                                </a>
                                <mat-error *ngIf="isRequiredField(formControls['newPassword'])">
                                    {{validationMsg.NEW_PASSWORD}}
                                </mat-error>
                                <mat-error *ngIf="isValidLength(formControls['newPassword'])">
                                    {{validationMsg.NEW_PASSWORD_LENGTH}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-control">
                            <mat-label>Confirm Password*</mat-label>
                            <mat-form-field appearance="outline">
                                <input required formControlName="confirmPassword" id="txtConfirmPassword" type="password" autocomplete="off"
                                    matInput placeholder="Enter Confirm password"
                                    [type]="confirmPassword? 'password': 'text'" />

                                <a class="eye-icon" type="button" matSuffix  id="lnkShowHidePassword-3"
                                    (click)="confirmPassword = !confirmPassword" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="confirmPassword">
                                    <mat-icon *ngIf="confirmPassword" svgIcon="hidepassword"></mat-icon>
                                    <mat-icon *ngIf="!confirmPassword" svgIcon="eye"></mat-icon>
                                </a>
                                <mat-error *ngIf="isRequiredField(formControls['confirmPassword'])">
                                    {{validationMsg.CONFIRM_PASSWORD}}
                                </mat-error>
                                <mat-error *ngIf="changePasswordForm.errors?.doesMatchPassword">
                                    {{validationMsg.PASSWORD_DOESNT_MATCH}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="button-group MB-2">
                            <button (click)="onCancel()" id="btnCancel" mat-button type="button">Cancel</button>
                            <button mat-flat-button color="primary" id="btnSubmit" type="submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
