<div class="auth-container">
  <div class="auth-box">
    <div class="auth-box__data"> 
      <div>
        <h3>Forgot your password?</h3>
        <p>Don't worry, enter your email we'll help you out</p>
      </div>

      <form [formGroup]="forgotForm" (ngSubmit)="onForgotFormSubmit(forgotForm)">

        <div class="form-control">
          <mat-label>Email*</mat-label>
          <mat-form-field appearance="outline">
            <input id="txtEmail" formControlName="email" type="text" autocomplete="off" matInput placeholder="Enter email address" />
            <mat-error *ngIf="isRequiredField(formControls['email'])">
              {{ validationMsg.EMAIL }}
            </mat-error>
            <mat-error *ngIf="isValidField(formControls['email'])">
              {{ validationMsg.EMAIL_VALID }}
            </mat-error>
            <mat-error *ngIf="isValidLength(formControls['email'])">
              {{ validationMsg.EMAIL_LENGTH }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="back-button">
          <button id="btnSubmit" class="auth-green-button" type="submit" mat-flat-button color="primary">
            Submit
          </button>
          <a class="ML-4" id="lnkBack" (click)="onBack()">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>
