<div class="row">
  <div class="col-md-6 PL-0 responsive-remove-img">
    <div class="auth">
      <img src="./assets/images/graphic.png" alt="" />
    </div>
  </div>

  <div class="col-md-6 PL-0 PR-0">

    <div class="auth-container">
      <a class="edusense-logo" id="lnkLogo" (click)="onHomePageUrl()">
        <mat-icon svgIcon="logo_edu"></mat-icon>
      </a>
      
      <div class="auth-container-form">
        <div *ngIf="activeView === htmlView.EMAIL_VIEW">
          <app-forgot-password (clickEvent)="onChangeView($event)" (dataEvent)="onGetData($event)">
          </app-forgot-password>
        </div>

        <div *ngIf="activeView === htmlView.OTP_VIEW">
          <app-forgot-otp (clickEvent)="onChangeView($event)"></app-forgot-otp>
        </div>

        <div *ngIf="activeView === htmlView.NEW_PASSWORD_VIEW">
          <app-reset-password></app-reset-password>
        </div>
      </div>
    </div>
  </div>
</div>
