@import '../../../../../../../assets/scss/abstracts/abstracts';

.class-view-container {
    .class-view {
        &__body {
            &__view {
                @include respond('phone') {
                    flex-direction: column !important;
                }
            }
        }
    }
}

.profile-left-space {
    width: calc(100% - 180px) !important;

    @include respond('phone') {
        width: 100%;
    }
}
