<div class="row">
  <div class="col-md-6 PL-0 responsive-remove-img">
    <div class="auth">
      <img src="./assets/images/student_graphic.png" alt="" />
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12 PLR-0">

    <a class="edusense-logo" id="lnkHomePage" (click)="onHomePageUrl()">
      <mat-icon svgIcon="logo_edu"></mat-icon>
    </a>

    <app-student-sign-up *ngIf="activeView === htmlView.SIGN_UP_VIEW" (clickEvent)="onChangeView($event)"
      (dataEvent)="onGetData($event)"></app-student-sign-up>

    <app-student-otp *ngIf="activeView === htmlView.OTP_VIEW" (clickEvent)="onChangeView($event)"
      [email]="emailAddress">
    </app-student-otp>
  </div>
</div>
