<div class="profile-container PB-5 PT-1">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmitProfileForm(profileForm)">
    <div class="row">
      <div class="col-md-12 profile-container__right PR-0">
        <mat-radio-group formControlName="gender" aria-label="Select an option">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>

        <div class="form-container">
          <div class="profile-details-container">
            <!-- INSTITUTE FIELD -->
            <div class="row">
              <div class="col-md-6 col-sm-6 PL-0 PR-05">
                <div class="form-control">
                  <mat-label>First Name*</mat-label>
                  <mat-form-field appearance="outline" floatLabel="always">
                    <input formControlName="first_name" type="text" autocomplete="off" matInput
                      placeholder="Enter first name" id="txtFirstName" />
                    <mat-error *ngIf="isRequiredField(formControls['first_name'])">{{ validationMsg.FIRST_NAME }}
                    </mat-error>
                    <mat-error *ngIf="isValidLength(formControls['first_name'])">{{ validationMsg.FIRST_NAME_LENGTH }}
                    </mat-error>
                    <mat-error *ngIf="isValidField(formControls['first_name'])">{{ validationMsg.FIRST_NAME_VALID }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 PR-0 PL-05">
                <div class="form-control">
                  <mat-label>Last Name*</mat-label>
                  <mat-form-field appearance="outline" floatLabel="always">
                    <input formControlName="last_name" type="text" autocomplete="off" matInput
                      placeholder="Enter last name" id="txtLastName" />
                    <mat-error *ngIf="isRequiredField(formControls['last_name'])">{{ validationMsg.LAST_NAME }}
                    </mat-error>
                    <mat-error *ngIf="isValidLength(formControls['last_name'])">{{ validationMsg.LAST_NAME_LENGTH }}
                    </mat-error>
                    <mat-error *ngIf="isValidField(formControls['last_name'])">{{
                      validationMsg.LAST_NAME_VALID
                    }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 PLR-0">
                <div class="form-control mobile-no-edit">
                  <mat-label>Mobile Number*</mat-label>
                      <mat-form-field appearance="outline" floatLabel="always">
                        <input formControlName="mobileNumber" id="txtMobileNumber" type="text" autocomplete="off"
                          matInput placeholder="Mobile Number" readonly />
                        <button class="pen-icon" (click)="onEditMobileNo()" id="btnEditMobile" mat-icon-button
                          type="button" matSuffix>
                          <mat-icon svgIcon="pen"></mat-icon>
                        </button>
                        <span class="mobile-prefix" matPrefix>{{formControls.dial_code.value}}</span>
                        <mat-error *ngIf="isRequiredField(formControls['mobileNumber'])">
                          {{ validationMsg.MOBILE_NUMBER }}</mat-error>
                        <mat-error *ngIf="isValidLength(formControls['mobileNumber'])">
                          {{ validationMsg.MOBILE_NUMBER_LENGTH }}</mat-error>
                        <mat-error *ngIf="isValidField(formControls['mobileNumber'])">
                          {{ validationMsg.MOBILE_NUMBER_VALID }}</mat-error>
                      </mat-form-field>
                </div>
              </div>
            </div>

            <!-- GRADE FIELD -->
            <div class="row">
              <div class="col-md-12 col-sm-12 PLR-0">
                <div class="form-control">
                  <app-ss-select-search [formName]="profileForm" id="matSelectGrade" [selectConfig]="gradeSearchConfig"
                    [selected]="selectedData?.selectedGrade" [dataList]="gradeList"
                    (changSelectEvent)="onSelectChangeEvent($event, 'grade')">
                  </app-ss-select-search>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 PLR-0">
                <div class="form-control">
                  <mat-label>Email Address</mat-label>
                  <mat-form-field appearance="outline">
                    <input formControlName="email" type="text" id="txtEmail" autocomplete="off" matInput
                      placeholder="Enter email address" />
                    <mat-error *ngIf="isRequiredField(formControls['email'])">{{
                      validationMsg.EMAIL
                    }}</mat-error>
                    <mat-error *ngIf="isValidLength(formControls['email'])">{{
                      validationMsg.EMAIL_LENGTH
                    }}</mat-error>
                    <mat-error *ngIf="isValidField(formControls['email'])">{{
                      validationMsg.EMAIL_VALID
                    }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 PLR-0">
                <div class="form-control">
                  <mat-label>College/Tution/Institute Name</mat-label>
                  <mat-form-field appearance="outline">
                    <input formControlName="school_name" id="txtSchool" type="text" autocomplete="off" matInput
                      placeholder="Type College/Tution/Institute" />
                    <mat-error *ngIf="isValidLength(formControls['school_name'])">{{
                      validationMsg.COLLEGE_NAME_LENGTH
                    }}</mat-error>
                    <mat-error *ngIf="isValidField(formControls['school_name'])">{{
                      validationMsg.COLLEGE_NAME_VALID
                    }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6 col-sm-6 PL-0 PR-05">
                <div class="form-control">
                  <app-ss-select-search [formName]="profileForm" id="matSelectCountry"
                    [selectConfig]="countrySearchConfig" [selected]="selectedData?.selectedCountry"
                    [dataList]="countryList" (changSelectEvent)="onSelectChangeEvent($event, 'country')">
                  </app-ss-select-search>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 PR-0 PL-05">
                <div class="form-control">
                  <app-ss-select-search [formName]="profileForm" id="matSelectState" [selectConfig]="stateSearchConfig"
                    [selected]="selectedData?.selectedState" [dataList]="stateList"
                    (changSelectEvent)="onSelectChangeEvent($event, 'state')">
                  </app-ss-select-search>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 PLR-0">
                <div class="form-control">
                  <mat-label>City*</mat-label>
                  <mat-form-field appearance="outline" floatLabel="always">
                    <input type="text" placeholder="Select city" id="txtCity" aria-label="Number" matInput
                      formControlName="cityInput" autocomplete="new-city" [matAutocomplete]="city" />

                    <mat-autocomplete #city="matAutocomplete">
                      <mat-option *ngFor="let city of filteredCities" (onSelectionChange)="changeCity(city)"
                        [value]="city.city_name">
                        <span>{{ city.city_name }}</span>
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="isRequiredField(formControls['cityInput'])">
                      {{ validationMsg.CITY }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 PLR-0">
                <button mat-flat-button color="primary" id="btnSave" type="submit">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
