@import '../../../../../../../assets/scss/abstracts/abstracts';

.form-control {
    position: relative;

    mat-icon {
        @include square(2rem);
        position: relative;
        bottom: 0.2rem;
        right: 0;
    }
}
