<div class="provider-view-container">

    <div class="provider-view__body class-view-container">
        <div class="provider-view__body--listing class-view__body">
            <div class="class-view__body__view">
                <label>Name</label>
                <span>{{userData?.user.first_name + ' ' + userData?.user.last_name}}</span>
            </div>

            <div class="class-view__body__view">
                <label>Email</label>
                <span>{{userData?.user.email}}</span>
            </div>
        </div>
    </div>
</div>
