@import '../../../../../../../assets/scss/abstracts/abstracts';

.subject-name {
    display: inline;
}

.pad-0-phone {
    @include respond('phone') {
        padding-left: 0 !important;
        // margin-bottom: 2rem;
        padding-right: 0 !important;
    }
}
.clear-button {
    border: 1px solid $grey-color-3;
    height: 5rem;
    min-width: 12rem;
    border-radius: 0.8rem;

    @include respond('phone') {
        height: 4.5rem;
        min-width: 12rem;
    }
}

.text-right-mob {
    @include respond('phone') {
        text-align: left !important;
        margin: 2rem 0;
    }
}


.recorded-session-list-container{
    @include respond("phone"){
        padding:1rem;
    }
    .material-list__header{
        @include respond("phone"){
            margin-bottom:1rem;
        }
    }
    .form-control{
        @include respond("phone"){
            height:6rem;
        }
    }
}
