<app-header></app-header>
<div class="webpages-container about-us-container">
    <div class="MT-30 sm-MT-15 xs-PT-10">
        <div class="webpages-container__section about-us-container__introduction-section">
            <div class="content-left">
                <h1>
                    The Vision
                </h1>
                <p>
                    EduSense has started its journey with virtual classrooms and
                    video conferencing for students, parents and teachers. The
                    vision of EduSense is to provide innovative solutions to
                    revolutionize the education sector. We see a future where
                    education becomes the most fun activity. We work with a
                    vision where learning and study become a trend among the
                    students.
                </p>
                <button type="button" mat-button class="round-button">
                    Get started
                </button>
            </div>
            <div class="webpages-container__section__img-section">
                <img src="./assets/images/educationWay.png" alt="" />
            </div>
        </div>

        <!-- who we are section  -->
        <div class="webpages-container__section gray-section">
            <div class="content content-left">
                <h3>
                    Who we are
                </h3>
            </div>
            <div class="content content-right">
                <p>
                    We are an elite team dedicated towards making a mark in a
                    sector that defines the future of India - Education Sector.
                    We are a group of adept young members working day in and day
                    out with one goal - Revolutionise the education sector. Our
                    expertise is in Information Technology and we commit to make
                    the best use of it for education.
                </p>
            </div>
        </div>

        <!-- what we do session  -->
        <div class="webpages-container__section about-us-container__what-we-do-section">
            <div class="webpages-container__section__img-section">
                <img src="./assets/images/whatWeDo.png" alt="" />
            </div>
            <div class="content content-right">
                <h3>
                    What we do
                </h3>
                <p>
                    We design and develop numerous solutions to make
                    revolutionary changes in the education sector. We develop
                    applications using Blockchain, Data Science, Internet of
                    Things and other latest tech to improvise the education
                    making it easy and fun to learn. We also run incubation
                    programs to promote new ideas for making education fun and
                    interesting.
                </p>
                <!-- <div><a>more</a></div> -->
            </div>
        </div>

        <!-- participate-session  -->
        <div class="webpages-container__section gray-section">
            <div class="content content-left">
                <h3>
                    Our Aim
                </h3>
            </div>
            <div class="content content-right">
                <p>
                    Our Aim is to become and remain the best in providing
                    solutions for eduction sector. We aim to connect with all
                    the small and big educators, be it small personal tuitions
                    or large education institutes, we want them all to enjoy the
                    innovative and modern solutions provided by EduSense.
                </p>
            </div>
        </div>

        <!-- Our mission section  -->
        <div class="webpages-container__section about-us-container__our-aim-section">
            <div class="webpages-container__section__img-section">
                <img src="./assets/images/ourAim.png" alt="" />
            </div>
            <div class="content content-right">
                <h3>
                    Our Mission
                </h3>
                <p>
                    Our mission make education easily accessible to every single
                    person having the urge to learn. Years ago Dr. APJ Abdul
                    Kalam said 2020 will be the age of education - the boom of
                    Data Science is only proving that. Education is the basic
                    need for any country to progress and EduSense is on a
                    mission to make that one of the strongest domain in India.
                </p>
            </div>
        </div>
    </div>
</div>

<app-getting-started-contact-us
    [contactBtn]="true"
></app-getting-started-contact-us>

<app-footer></app-footer>
