@import '../../../../../../../../assets/scss/abstracts/abstracts';

.meeting-dialog__bottom {
    margin-top: 4rem;

    @include respond('phone') {
        margin-top: 2rem;
    }

    @include respond('tab-port') {
        margin-top: 2rem;
    }
}

.add-practice__answer-chapter {
    @include square(4rem);
    vertical-align: sub;
    margin-right: 1rem;
}

.add-practice {
    &__flex {
        display: flex;
        align-items: center;
    }
}

.auth-container {
    @include respond('phone') {
        padding: 1rem;
    }
}

.no-folder-spacing,
.no-content-found-wrapper {
    min-height: 100%;
}
