@import '../../../../../../../assets/scss/abstracts/abstracts';

.student-record-direction {
    @include respond('phone') {
        flex-direction: column !important;
    }
}

.width-auto {
    width: auto !important;
    margin-right: 1rem !important;
}

.class-view-container {
    .class-view {
        &__body {
            &__view {
                @include respond('phone') {
                    flex-direction: column !important;
                }
            }
        }
    }
}
