<div class="dialog-container">
  <div class="dialog-container__head">
    <h4>One Time Password(OTP)</h4>
    <a (click)="onCloseDialog()" id="lnkClose"><mat-icon svgIcon="close"></mat-icon></a>
  </div>
  <div class="dialog-container__bottom">
    <form
      [formGroup]="emailOtpForm"
      (ngSubmit)="onSubmitEmailOtpForm(emailOtpForm)"
    >
      <div class="row">
        <div class="col-xl-12 col-md-12 PL-0">
          <div class="otp-form-field">
            <label>OTP</label>

            <div class="row">
              <div class="col-xl-12 col-md-12 PL-0">
                <div class="otp-form-field">
                  <div class="otp-form-container">
                    <div class="form-control">
                      <input
                        type="text"
                        max="1"
                        maxlength="1"
                        #inputRef1
                        (keyup)="
                          onBlurInput(
                            $event,
                            inputRef1,
                            inputRef1.value ? inputRef2 : null
                          )
                        "
                        (click)="onFocus(inputRef1)"
                        (paste)="onPasteEvent($event)"
                        formControlName="otpInput1"
                        id="txtInput1"
                      />
                    </div>

                    <div class="form-control">
                      <input
                        type="text"
                        max="1"
                        maxlength="1"
                        #inputRef2
                        (keyup)="
                          onBlurInput(
                            $event,
                            inputRef2,
                            inputRef2.value ? inputRef3 : inputRef1
                          )
                        "
                        (click)="onFocus(inputRef2)"
                        (paste)="onPasteEvent($event)"
                        formControlName="otpInput2"
                        id="txtInput2"
                      />
                    </div>

                    <div class="form-control">
                      <input
                        type="text"
                        max="1"
                        maxlength="1"
                        #inputRef3
                        (keyup)="
                          onBlurInput(
                            $event,
                            inputRef3,
                            inputRef3.value ? inputRef4 : inputRef2
                          )
                        "
                        (click)="onFocus(inputRef3)"
                        (paste)="onPasteEvent($event)"
                        formControlName="otpInput3"
                        id="txtInput3"
                      />
                    </div>

                    <div class="form-control">
                      <input
                        type="text"
                        max="1"
                        maxlength="1"
                        #inputRef4
                        (keyup)="
                          onBlurInput(
                            $event,
                            inputRef4,
                            inputRef4.value ? inputRef5 : inputRef3
                          )
                        "
                        (click)="onFocus(inputRef4)"
                        (paste)="onPasteEvent($event)"
                        formControlName="otpInput4"
                        id="txtInput4"
                      />
                    </div>

                    <div class="form-control">
                      <input
                        type="text"
                        max="1"
                        maxlength="1"
                        #inputRef5
                        (keyup)="
                          onBlurInput(
                            $event,
                            inputRef5,
                            inputRef5.value ? inputRef6 : inputRef4
                          )
                        "
                        (click)="onFocus(inputRef5)"
                        (paste)="onPasteEvent($event)"
                        formControlName="otpInput5"
                        id="txtInput5"
                      />
                    </div>

                    <div class="form-control">
                      <input
                        type="text"
                        max="1"
                        maxlength="1"
                        #inputRef6
                        (keyup)="
                          onBlurInput(
                            $event,
                            inputRef6,
                            inputRef6.value ? null : inputRef5
                          )
                        "
                        (click)="onFocus(inputRef6)"
                        (paste)="onPasteEvent($event)"
                        formControlName="otpInput6"
                        id="txtInput6"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="bottom-link">
          If you didn't receive a code! <a *ngIf="true" id="lnkResend">Resend</a
          ><a *ngIf="false">00:30</a>
        </p>
      </div>

      <div class="button-group">
        <button (click)="onCloseDialog()" mat-button type="button" id="btnCancel">Cancel</button>
        <button mat-flat-button color="primary" type="submit" id="btnVerify">
          Verify
        </button>
      </div>
    </form>
  </div>
</div>
