<app-header></app-header>
<div class="webpages-container">
    <div class="webpages-container__gray-section">
        <h4>Meet our team</h4>
        <img src="assets/images/team.png" alt="">
        <div>
            <p>Teamwork is the ability to work together toward a common vision. </p>
            <p>The ability to direct individual accomplishments toward organizational objectives. </p>
            <p>It is the fuel that allows common people to attain uncommon results.</p>
        </div>
    </div>
    <div class="row webpages-container__faculty-section-one">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="blue-color">We are here to make
                education learning
                beyond its limts</h3>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 sm-PL-0 sm-PR-0 xs-PL-0 xs-PR-0">
            <div class="row">
                <div class="col-md-6 col-sm-6 sm-PL-0 col-xs-12 xs-PL-0 xs-PR-0">
                    <div class="image-box">
                        <img src="assets/images/mita.png" alt="">
                        <a>Mita Pabari</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 sm-PR-0 col-xs-12 xs-PL-0 xs-PR-0">
                    <div class="image-box">
                        <img src="assets/images/mary.png" alt="">
                        <a>Mary D'souza</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row webpages-container__faculty-section-two">
        <div class="col-md-9 col-sm-12 sm-PR-0 col-xs-12 xs-PL-0 xs-PR-0">
            <div class="row">
                <div class="image-box col-md-4 col-sm-6 sm-PL-0 col-xs-12 xs-PL-0 xs-PR-0">
                    <img src="assets/images/jenny.png" alt="">
                    <a>Jenny Allexza</a>
                </div>
                <div class="image-box col-md-4  col-sm-6 sm-PR-0 col-xs-12 xs-PL-0 xs-PR-0">
                    <img src="assets/images/james.png" alt="">
                    <a>James Cruz</a></div>
                <div class="image-box col-md-4 col-sm-6 sm-PL-0 col-xs-12 xs-PL-0 xs-PR-0"><img src="assets/images/michael.png" alt="">
                    <a>Michael D'mello</a></div>
                <div class="image-box col-md-4 col-sm-6 sm-PR-0 col-xs-12 xs-PL-0 xs-PR-0"><img src="assets/images/chris.png" alt="">
                    <a>Chris Angelo</a></div>
                <div class="image-box col-md-4 col-sm-6 sm-PL-0 col-xs-12 xs-PL-0 xs-PR-0"><img src="assets/images/mahesh.png" alt="">
                    <a>Mahesh Trivarnam</a></div>
                <div class="image-box col-md-4 col-sm-6 sm-PR-0 col-xs-12 xs-PL-0 xs-PR-0"><img src="assets/images/ravi.png" alt="">
                    <a>Ravi Davda</a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h3 class="pink-color">Learn.
                Teach.
                Explore.
                Experiment.
                Guide.
                Study.
            </h3>
        </div>
    </div>
    <div class="flex-center">
        <div class="row">
            <div class="col-md-4 col-xs-12 xs-PL-0 xs-PR-0">
                <div class="image-box"><img src="assets/images/rachael.png" alt=""> <a>Rachael Cyrus</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 xs-PL-0 xs-PR-0">
                <div class="image-box"><img src="assets/images/sophia.png" alt=""> <a>Sophia Terance</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 xs-PL-0 xs-PR-0">
                <div class="image-box"><img src="assets/images/christian.png" alt=""> <a>Christian Marx</a></div>
            </div>
        </div>  
    </div>
        <div class="row webpages-container__invitation">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <h2><span>Join<br>
                </span>Our Team</h2>
            </div>
            <div class="col-md-7 col-sm-7 col-xs -12">
                <p>Teamwork is the ability to work together toward a common vision.
                    The ability to direct individual accomplishments toward organizational objectives.
                    It is the fuel that allows common people to attain uncommon results.Teamwork is the ability to work
                    together toward a common vision.
                    The ability to direct individual accomplishments toward organizational objectives.
                    It is the fuel that allows common people to attain uncommon results.</p>

                <div class="open-role-button">
                    <button type="button" id="btnOpenRoles">Open Roles</button>
                </div>
            </div>
        </div>
</div>

<app-footer></app-footer>
