<div class="webpages-container">
    <div class="webpage-footer">
        <div class="webpage-footer__bottom">
            <!-- DO NOT DELETE -->
            <!-- <div class="webpage-footer__bottom__links"> 
                <mat-icon svgIcon="page-logo"></mat-icon>
                <ul class="MT-9">
                    <li>Products</li>
                    <li><a id="lnkVirtualClassroom">Virtual Classroom</a></li>
                    <li><a id="lnkLms">Learning Management System</a></li>
                    <li><a id="lnkSuccessStories">Success stories</a></li>
                    <li><a id="lnkPricing">Pricing</a></li>
                    <li><a id="lnkRequestedDemo">Request demo</a></li>
                </ul>
                <ul>
                    <li>Company</li>
                    <li><a id="lnkAbout">About</a></li>
                    <li><a id="lnkContacts">Contacts</a></li>
                    <li><a id="lnkParternershipProgram">Partnership Program</a></li>
                </ul>
                <ul>
                    <li>Terms & Policies</li>
                    <li><a id="lnkDataProcessing">Data Processing Addendum </a></li>
                    <li><a id="lnkTerms">General Terms and Conditions</a></li>
                    <li>
                        <a
                            [routerLink]="privacyPolicyUrl"
                            routerLinkActive="active" id="lnkPrivacyPolicy"
                        >
                            Privacy Policy</a
                        >
                    </li>
                </ul>
            </div> -->
            <div class="webpage-footer__bottom__info-share">
                <p>2020 EduSense.io</p>

                <a [routerLink]="privacyPolicyUrl" routerLinkActive="active" id="lnkPrivacyPolicy">
                    Privacy Policy</a>

                <!-- <a [routerLink]="teamUrl" class="" routerLinkActive="active" id="lnkTeam">
                   Team</a> -->

                <p>Powered By: <a href="https://smartsensesolutions.com/" target="_blank">smartSense Consulting
                        Solutions Pvt. Ltd.</a></p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/smartsense-solutions/" target="_blank"
                            id="matBtnLinkedin">
                            <mat-icon svgIcon="linkedin"></mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/smartsense13?lang=en" target="_blank" id="matBtnTwitter">
                            <mat-icon svgIcon="twitter"></mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/smartsensesolutions/" target="_blank" id="matBtnFacebook">
                            <mat-icon svgIcon="facebook"></mat-icon>
                        </a>
                    </li>
                    <!-- <li>
                        <a id="lnkInstagram"><mat-icon svgIcon="instagram"></mat-icon></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
