<div class="auth-container">
    <div class="auth-box">
        <div class="auth-box__data">
            <div>
                <h3>Forgot your password?</h3>
                <p>Don't worry, enter your mobile number we'll help you out</p>
            </div>

            <form [formGroup]="studentForgotForm" (ngSubmit)="onStudentForgotFormSubmit(studentForgotForm)">
                <div class="form-control MB-1">
                    <mat-label>Mobile Number*</mat-label>
                    <div class="row">
                        <div class="col-md-2 PLR-0">
                            <app-ss-select-search [formName]="studentForgotForm"
                                [selectConfig]="countryCodeSearchConfig" [selected]="selectedCountry" [dataList]="countryCodeList"
                                (changSelectEvent)="onCountryCodeSelectChangeEvent($event, 'countryCode')">
                            </app-ss-select-search>
                        </div>
                        <div class="col-md-10 PR-0">
                            <mat-form-field appearance="outline" floatLabel="always">
                                <input formControlName="mobileNumber" id="txtMobile" type="text" autocomplete="off"
                                    matInput placeholder="Mobile Number" />
                                <mat-error *ngIf="
                                isRequiredField(formControls['mobileNumber'])
                            ">
                                    {{ validationMsg.MOBILE_NUMBER }}</mat-error>
                                <mat-error *ngIf="isValidLength(formControls['mobileNumber'])">
                                    {{ validationMsg.MOBILE_NUMBER_LENGTH }}</mat-error>
                                <mat-error *ngIf="isValidField(formControls['mobileNumber'])">
                                    {{ validationMsg.MOBILE_NUMBER_VALID }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="back-button">
                    <button class="auth-green-button" id="btnSubmit" type="submit" mat-flat-button color="primary">
                        Submit
                    </button>
                    <a class="ML-4" id="btnBack" (click)="onBack()">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
