<div class="class-view-container">
    <div class="class-view">
        <div class="class-view__header">
            <a (click)="onProviderList()" id="lnkBack">
                <mat-icon matTooltip="Back" svgIcon="leftArrow"></mat-icon>
            </a>
            <h2>Provider</h2>
        </div>
        <div class="class-view__body">
            <div class="provider-view class-view__body__view">
                <label>Name</label>
                <span>Jonathan Seagull</span>
            </div>

            <div class="provider-view class-view__body__view">
                <label>Email</label>
                <span>jonathan@gmail.com</span>
            </div>

            <div class="provider-view class-view__body__view">
                <label>Provider Name</label>
                <span>Smart sense</span>
            </div>

            <div class="provider-view class-view__body__view">
                <label>Type</label>
                <span>School</span>
            </div>

            <div class="provider-view class-view__body__view">
                <label>Board</label>
                <span>CBSC</span>
            </div>

            <div class="provider-view class-view__body__view">
                <label>Location</label>
                <span>Gandhinagar, Gujarat, India</span>
            </div>

            <div class="provider-view class-view__body__view">
                <label>Action</label>
                <span>
                    <mat-slide-toggle>
                    </mat-slide-toggle>
                </span>
            </div>
        </div>
    </div>
</div>
